.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay);

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
}

.Modal {
  max-width: 100%;
  box-shadow: var(--box-shadow);
  background: var(--white);
}
